
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  img {
    margin-left : 7%;
    margin-top : 1%;
    margin-bottom : 1%;
  }